// Main colors
$light-gray: #eeeeee;
$darken : #757575;
$main-gray: #424242;
$dark-gray: #212121;

// Fonts
$title: 'Montserrat',
sans-serif;
$main-text: 'Courier Prime',
monospace;

// Breakpoints
$small: 600px;

body {
  background-color: $light-gray;
  font-family: $main-text;
}

h1,
h2,
h3,
h4,
h5,
label {
  font-family: $title;
  font-weight: 500;
}

.main-users-content {
  overflow-y: scroll;
  max-height: 100vh;
}

.side-nav {
  background-color: $main-gray;
  padding-top: 3em;
  height: 100vh;
  @media(max-width: $small){
    height: 8em;
    position: fixed;
    width: 105vw;
    bottom: 0;
    left: 0;
    padding: 0;
    z-index: 99;
  }

  &-btn {
    background-color: $main-gray;
    font-family: $main-text;
    color: white;
    text-align: center;
    padding: .5em;
    margin: .5em 0em .5em 0em;
    border: 1px solid white;
    font-size: 1em;

    @media(max-width: $small){
      position: relative;
      max-width: 100%;
      display: inline;
      font-size: 1em;;
    }
  }

  &-btn:hover {
    background-color: $dark-gray;
    cursor: pointer;
  }

}

.buttons-small{
  @media(max-width: $small){
   float: left;
   padding: 0 .2em 0 .2em;
  }
}

.intro-title{
  text-align: center;
}

.user-card-component {
  p {
    font-size: .9em;
  }
}

.user-card {
  background-color: white;
  padding: 1em;
  margin: .5em 0em .5em 0em;
  border: 2px solid $dark-gray;


  &-name {
    font-family: $title;
  }
}

.user-card:hover {
  background-color: $light-gray;
  cursor: pointer;
}

.add-edit-modal {
  position: fixed;
  z-index: 89;
  top: 0;
  left: 0;

  @media(max-width: $small){
    position: absolute;
    padding-bottom: 10em;
   }

  &-background {
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: $main-gray;
    opacity: 0.5;
    z-index: 99;
    left: 0;
  }

  &-form {
    background-color: white;
    z-index: 100;
    margin-top: 5em;
    padding: 1em;
    border: 4px solid $dark-gray;

    .random-image {
      border: 4px solid $dark-gray;
      margin-top: 24%;
      @media(max-width: $small){
        margin-top: 1em;
       }
    }


    &-btn {
      display: inline-block;
      border: 2px solid $dark-gray;
      width: 30%;
      max-height: 2em;
    }

    .label-row {
      margin-top: 1em;
    }

    label {
      display: blo ck;
      font-size: 1.3em;
      margin-bottom: 0;
    }

    input {
      border: none;
      background-color: $light-gray;
      display: block;
      width: 100%;
      overflow: hidden;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }

  .relocation-input {
    position: absolute;
    top: .7em;
    left: 3em;
  }

  .btn-flex-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .cancel {
    background-color: $darken;
  }

  .cancel:hover {
    background-color: $dark-gray;
    color: white;
  }

  .save {
    background-color: $light-gray;
  }

  .save:hover {
    background-color: $main-gray;
    color: white;
  }

  .close-icon {
    position: absolute;
    top: 0;
    right: 1.5em;
    font-size: 1.1em;
    color: $dark-gray;
    background-color: transparent;
  }

  .close-icon:hover {
    cursor: pointer;
    color: $main-gray;
  }

}

.errors {
  color: red;
  margin: .5em 0 0 0;
}